.container {
	display: flex;
}

h1 {
	text-align: center;
}

img {
	max-width: 45%;
	border-radius: 5%;
}

body {
	font-family: sans-serif;
	background-color: lavender;
}

p {
	padding: 10px;
}

@media screen and (max-width: 501px) {
	.container {
		flex-direction: column-reverse;
	}
}